<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>eCommerce Website</title>

    <style>
        html {
            width: 100%;
            -webkit-text-size-adjust: 100%;
            -webkit-background-size: 100%;
        }

        body {
            width: 100%;
            font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
            font-size: 14px;
            background-color: #ffffff;
            color: #333;
        }

        #sentTitle {
            text-align: center;
        }

    </style>
</head>
<body>
{#    <table width="100%" cellspacing="0" cellpadding="0">#}

<table>
    <tr>
        <td id="sentTitle">
            <h1>eCommerce Website - Order Sent</h1>
        </td>
    </tr>

    <tr>
        <td>
            <p>Nice! Your order is sent!</p>
        </td>
    </tr>
</table>
</body>
</html>