{% extends "base.html" %}

{% block title %}New password | {% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-6 is-offset-3">

            <h1 class="title">Change password</h1>

            <form method="POST" action=".">
                {% csrf_token %}

                <div class="field">
                    <label>Old password</label>

                    <input type="password" class="input" name="old_password" id="id_password">
                </div>

                <div class="field">
                    <label>New password</label>

                    <input type="password" class="input" name="new_password1" id="id_password">
                </div>

                <div class="field">
                    <label>New password confirmation</label>

                    <input type="password" class="input" name="new_password2" id="id_password">
                </div>

                {% if form.errors %}
                    <div class="notification is-danger">
                        Your passwords didn't match! Please try again!
                    </div>
                {% endif %}

                <div class="field">
                    <div class="control">
                        <button class="button is-success">Change my password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}