{% extends 'base.html' %}

{% block content %}
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <h1 class="title">Update information</h1>

            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                {{ userprofileform.as_p }}

                <div class="field">
                    <div class="control">
                        <br>
                        <button type="submit" class="button is-success">Accept changes</button>
                        <button type="reset" class="button is-danger">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}