form .helptext {
    font-size: 12px;
    color: #ccc;
}

form ul {
    /*display: none;*/
    font-size: 12px;
    color: #ccc;
}

.newsletter-wraper {
    padding: 50px 20px;
    text-align: center;
    background: #f1f1f1;
}

.newsletter-wraper .notification {
    margin-top: 20px;
}

.newsletter-wraper .field.has-addons {
    justify-content: center;
}

.notification.space-below {
    margin-bottom: 20px;
}

#id_email {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}